<%-include('../includes/header.ejs')%>


<div class="card-group">
<div class="card" style="width:150px">
  
<% if (product.lengh !=0) { %>
  <% for(let productinfo of product) {%>
<img class="card-img-top" style="width:150px" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image">
  <div class="card-body">
  <h4 class="card-title"><%=productinfo.title%></h4>
  <p class="card-text"><%=productinfo.descerption%></p>
  <p class="card-text"><%=productinfo.price%></p>
  <p class="card-text"><%=productinfo.id%></p>
   <a href="/products/<%=productinfo._id%>">جزييات</a>
   <form method="POST" action="/admin/dell-product">
   <input type="hidden" name="id" value="<%=productinfo._id%>">
     <button type="Submit">حذف</button>
   </form>
 <%-include('../includes/add-to-cart.ejs',{productinfo:productinfo})%>


  <br>
  <br>
  <br>
  <br>

  <% }%>

<% } else{ %>

<p> noting </p>

<%}%>
    
</div>

  </div>
</div>


<%-include('../includes/footer.ejs')%>